.example-card {
  width: 18rem;
  height: 14rem;
}
.actions-cell button:first-child {
  margin-right: 20px;
}
.actions-cell {
  padding-left: 10rem;
  padding-top: 1rem;
}
.mat-mdc-card-title {
  color: #3f51b5;
}
.status-chip.mat-chip {
  color: white;
  font-weight: bold;
}

.status-chip.in-progress {
  background-color: #f89a0c; // custom yellow
  color: #000;
}

.status-chip.done {
  background-color: #4caf50; // custom green
}
.mat-mdc-card-header {
  background-color: #e8e7f3;
}
.description {
  padding-top: 0.5rem;
  color: #3f51b5;
}
